@{
    ViewBag.Title = "Alphea Demo";
}

@using MvcCaptcha
@using System.Drawing

<h2>Alphea Captcha</h2>

@using (Html.BeginForm())
{
  @Html.ValidationSummary()
  
  <p>
    Email : <input type="email" name="email" />
  </p>
  <p>
    password: <input type="password" name="password" />
  </p>
  <p>
   &nbsp @Html.MvcCaptcha()
  </p>
  <p>
    <input type="submit" value="Submit" />
  </p>
}
